div.responsive-preview-toolbar
{
  background: transparent url(responsive_preview_background.png);
  color: #fff;
  font-family: arial,verdana,helvetica,sans-serif;
  font-size: 10px;
  overflow: auto;
  padding: 3px 0;
}
  div.responsive-preview-toolbar div.device-group
  {
    float: left;
  }
    div.responsive-preview-toolbar div.device-group div.device-group-links
    {
      float: left;
    }
      div.responsive-preview-toolbar div.device-group div.device-group-links a.device-link-resize
      {
        color: #0af;
        display: block;
        float: left;
        outline: none;
        padding-right: 10px;
        text-decoration: none;
      }
      div.responsive-preview-toolbar div.device-group div.device-group-links a.device-link-resize:hover
      {
        color: #fff;
      }
      div.responsive-preview-toolbar div.device-group div.device-group-links a.device-link-resize-selected
      {
        color: #fff;
      }
    div.responsive-preview-toolbar div.device-group span
    {
      display: block;
      float: left;
      margin-left: 5px;
      padding-right: 5px;
    }

div.responsive-preview-wrapper
{
  background: transparent url(responsive_preview_background.png);
  opacity: 0;
  position: absolute;
  z-index: 9999;
}
  div.responsive-preview-wrapper div.responsive-preview-border
  {
    background: #fff;
    opacity: 0;
    padding: 1px;
    position: absolute;
  }
    div.responsive-preview-wrapper div.responsive-preview-border iframe.responsive-preview-iframe
    {
      border: 0;
      border-collapse: collapse;
      height: 100%;
      width: 100%;
    }
