table.responsive-preview-table
{
}
  table.responsive-preview-table tbody tr td.resolution
  {
    width: 150px !important;
  }
  table.responsive-preview-table tbody tr td.tools
  {
    width: 150px !important;
  }
  table.responsive-preview-table tbody tr:hover td
  {
    background-color: #eee;
  }
